PORT=3001
NODE_ENV=development
POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/auth_service
JWT_SECRET=change_me_in_dev
JWT_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Email Configuration (SMTP)
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=